<ion-header>
  <ion-toolbar>
    <p><ion-icon name="reorder-three-outline" (click)="menu()"></ion-icon> Joseph Gerard Diaz</p>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item><h1>My Hobbies</h1></ion-item>
    <ion-card>
    
      <ion-card-content>
        Aside from being busy with my academic life, I also have hobbies that I usually do in my leisure time. I love playing basketball and everything related to it. My current favorite NBA player is Klay Thompson from Golden State Warriors. I also have an interest on cycling and having long rides to go sightseeing. By having these exercises and eating healthy, I believe that I am taking care of my body well. This is important to me since I want to experience more things in the future. I also play video games on both my pc and mobile as well as watching anime series.
      </ion-card-content>
    </ion-card>

    <ion-button expand="block" shape="round" (click)="overview()">Overview</ion-button>
    
</ion-content>
