<ion-content [fullscreen]="true">
  <div style="height: 100%; display: flex; align-items: center; justify-content: center;">
    <ion-list class="ion-margin">
      <ion-item><h1>Joseph Gerard Diaz</h1></ion-item>
      <br>
      <ion-button expand="block" fill="outline" shape="round" color="primary" (click)="overview()">Overview</ion-button>
      <ion-button expand="block" fill="outline" shape="round" color="primary" (click)="aboutMe()">About Me</ion-button>
      <ion-button expand="block" fill="outline" shape="round" color="primary" (click)="hobbies()">Hobbies</ion-button>
    </ion-list>
  </div>
</ion-content>
