<ion-header>
  <ion-toolbar>
    <p><ion-icon name="reorder-three-outline" (click)="menu()"></ion-icon> Joseph Gerard Diaz</p>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-item><h1>Overview</h1></ion-item>
    
    <ion-card>
        <ion-item>
          <ion-img class="center" src="assets/icon/overview.jpg"></ion-img>
        </ion-item>
      <ion-card-content>
        Joseph Gerard Diaz is an IT student with a focus on Networking Technology. He strives to be better on his craft as well as being a better person as a whole with my two pet cats.
      </ion-card-content>
    </ion-card>

    <ion-button expand="block" shape="round" (click)="aboutMe()">About Me</ion-button>

</ion-content>
